<div class="inset-x-0 bottom-0">
    <footer class="text-center ">
        <div class="p-5 m-5 text-gray-700 dark:text-white">
            <h1 class="text-gray-700 dark:text-white">Copyright ©️ 2023
                <p class="text-2xl hover:text-purple-500"> Gamers' Haven </p>
            </h1>
        </div>
    </footer>
</div>

<script src="../js/darkmode.js"></script>
<script src="../js/index.min.js"></script>

</html>