<div class="inset-x-0 bottom-0">
    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <div style="position: relative;" data-draggable="true" class=""><!----><!---->
            <section draggable="false" class="block-container container mx-auto pt-0 mt-12 pt-3" data-v-19a22a5d="">
                <section class="">
                    <section class="m-2 text-gray-800 text-center md:text-left">
                        <div class="flex flex-wrap justify-center">
                            <div class="grow-0 shrink-0 basis-auto w-full lg:w-10/12 px-3">
                                <div class="grid md:grid-cols-2 gap-x-6 items-center">
                                    <div class="mb-6 md:mb-0">
                                        <h2 class="text-3xl font-bold">Let's stay in touch Join our social media
                                        </h2>
                                    </div>
                                    <div class="mb-6 md:mb-0 md:ml-auto"> <button type="button" data-mdb-ripple="true"
                                            data-mdb-ripple-color="light"
                                            class="inline-block p-3 mb-2 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out"
                                            style="background-color: #1877f2" aria-controls="#picker-editor"><i
                                                class="fab fa-facebook-f p-1 ps-2"></i></button> <button type="button"
                                            data-mdb-ripple="true" data-mdb-ripple-color="light"
                                            class="inline-block p-3 mb-2 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out"
                                            style="background-color: #1da1f2" aria-controls="#picker-editor"><i
                                                class="fab fa-twitter p-1 ps-2"></i></button> <button type="button"
                                            data-mdb-ripple="true" data-mdb-ripple-color="light"
                                            class="inline-block p-3 mb-2 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out"
                                            style="background-color: #ea4335" aria-controls="#picker-editor"><i
                                                class="fab fa-google p-1 ps-2"></i></button> <button type="button"
                                            data-mdb-ripple="true" data-mdb-ripple-color="light"
                                            class="inline-block p-3 mb-2 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out"
                                            style="background-color: #c13584" aria-controls="#picker-editor"><i
                                                class="fab fa-instagram p-1 ps-2"></i></button> <button type="button"
                                            data-mdb-ripple="true" data-mdb-ripple-color="light"
                                            class="inline-block p-3 mb-2 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out"
                                            style="background-color: #0077b5" aria-controls="#picker-editor"><i
                                                class="fab fa-linkedin-in p-1 ps-2"></i></button> <button type="button"
                                            data-mdb-ripple="true" data-mdb-ripple-color="light"
                                            class="inline-block p-3 mb-2 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out"
                                            style="background-color: #e60023" aria-controls="#picker-editor"><i
                                                class="fab fa-pinterest p-1 ps-2"></i></button> </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </section><!---->
        </div>

        <div class="text-center text-gray-700 p-4" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-gray-800" href="https://tailwind-elements.com/">Tailwind Elements</a>
        </div>
    </footer>
</div>

<script src="js/index.min.js"></script>

</html>