<!--  -->

<!--  -->

<nav class="relative top-0 left-0 w-full bg-white shadow">
    <div class="container items-center justify-between m-auto text-gray-700">
        <h1 class="py-4 pl-8 text-xl font-bold">Gaming Freebees!!</h1>
    </div>

</nav>