<%-include("./partials/header")-%>

<body class="bg-gray-300">

	<!-- Navigation Bar -->
	<%-include("./partials/navbar")-%>

	<main class="container ">

		<!-- <p class="text-center">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, modi.
		</p> -->

		<div>

		</div>
	</main>

	<%-include("./partials/footer")-%>

</body>